/* General Reset */

  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  
  /* Hero Section */
  .hero-section {
    background: linear-gradient(135deg, var(--main-green), var(--background));
    color: var(--black);
    width: 100%;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    max-width: 800px;
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--dark-green);
  }
  
  .hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  /* Features Section */
  .features-section {
    padding: 50px 20px;
    background-color: white;
    width: 100%;
  }
  
  .features-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--dark-green);
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .feature-card {
    background-color: var(--background);
    border: 1px solid var(--background);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    transition: transform 0.3s ease;
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    color: var(--main-green);
    margin-bottom: 10px;
  }
  
  .feature-card p {
    font-size: 1rem;
    color: var(--black);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero-title {
      font-size: 2.2rem;
    }
  
    .hero-subtitle {
      font-size: 1rem;
    }
  
    .features {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .hero-title {
      font-size: 1.5rem;
    }
  
    .features-title{
        font-size: 1.5rem;
    }
    .hero-subtitle {
      font-size: 0.9rem;
    }
  
    .btn {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  }
  